@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700;900&family=Urbanist:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Lexend Deca', sans-serif;*/
    font-family: 'Urbanist', sans-serif;
}


/*// thapa technical SUBSCRIBE*/

html{
    font-size: 62.5%;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 1120px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 10rem;
}

main h1{
    font-size: 3rem;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 6.0rem;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main h1 svg{
    color: #fd9843;
}

/*===================*/
/*navbar styling */
/*====================*/

nav{
    /* width:55rem ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #ccc;
    padding: 20px;
}

nav a{
    font-size: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: #ccc;
    border-bottom: .3rem solid transparent;
}

nav a:hover{
    border-color: #3A3845;
}

nav a.active {
    color: #000;
    border-color: #fd9843;
}

/*===================*/
/*Form  styling */
/*====================*/

form input{
    border: .1rem solid #ccc;
    border-radius: .3rem;
    width: 45rem;
    margin: 4rem 0;
    user-focus: none;
    padding: 15px;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    font-weight: bold;
    width: 80%;
}

form button{
    padding: 15px 25px;
    border: 1px solid #fd7e14;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2.4rem;
    background-color: #fd9843;
    color: #fff;
    font-size: 1.6rem;
    width:15%;
}

label{
    font-size: 1.8rem;
    letter-spacing: .06rem;
    color: #3A3845;
    font-weight: bold;
}

/*===================*/
/*todo task list */
/*====================*/

.main-task li{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 6rem;
    border-bottom: .1rem solid #ccc;
    padding: 20px 0;
}

.main-task li input{
    flex:10%
}

.main-task li label{
    flex: 80%;
}

.main-task li:first-child{
    border-top: .1rem solid #ccc;
}

.main-task li:hover{
    background-color: #fef2f2;
}

.main-task li input[type="checkbox"]:checked  + label {
    text-decoration: line-through;
    color: #D14D72;
}

.main-task li .del{
    display: inline-block;
    flex: 10%;
    text-align: center;
}
.main-task li a{
    font-size: 1.8rem;
    color: #6c757d;
    cursor: pointer;
}

.main-task li a:hover{
    color: #D14D72;
}